---
import Layout from "../layouts/layout.astro";
---

<Layout title="Acerca de">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quibusdam
    nesciunt error consequuntur, inventore quis voluptatem quam adipisci, est
    dolor nobis non enim, qui sunt earum! Optio expedita debitis vitae sapiente
    quod nobis fugiat minus consequatur alias numquam porro, temporibus
    suscipit, incidunt repellendus reiciendis mollitia itaque officiis. Eaque
    porro esse doloribus laboriosam minus aperiam error, distinctio cumque,
    beatae nostrum sequi suscipit non, dolore animi adipisci expedita fugit
    inventore optio eos dignissimos. Adipisci tempore asperiores reprehenderit
    assumenda earum ad, hic veritatis commodi voluptatibus quod. Soluta quod
    cupiditate blanditiis laboriosam nulla error, hic facilis et? Beatae veniam
    modi dolorem fugiat exercitationem voluptates?
  </p>
</Layout>
